body {
    color: #555;
    margin: 0;

    font-family: 'Montserrat', sans-serif;
}

#header {
    background-color: white;
    height: 90px;
    line-height: 1;
}

#header-title {
    display: block;
    float: left;

    font-size: 32px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#header-nav {
    display: block;
    float: right;
    margin-top: 0;
   
}
#header li {
    display: inline;

}
#header-nav li {
    display: inline;
    padding-left: 20px;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
#header a {
    color: #DF6589FF;
    text-decoration: none;

    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#header a:hover {
    color: #222;
}



#footer {
    background-color: #DF6589FF;
    padding: 50px 0;
}
.column {
    min-width: 300px;
    vertical-align: top;
}
#footer h4 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: bold;
}
#footer p{
    color: white;
}

a {
    color: 1abc9c;
    text-decoration: none;
}

a:hover {
    color: #F6A623;
}
.post {
    max-width: 800px;
    margin: auto;
    padding: 60px 0;
}
.post-author img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
.post-author span {
    margin-left: 16px;
}
.post-date {
    color: #d2d2d2;

    font-size: 14px;
    font-weight: bold;

    text-transform: uppercase;
    letter-spacing: 0.1em;
}

h1, h2, h3, h4 {
    color: #333;
}

p {
    line-height: 1.5;
}

@import url(http://fontsgoogleapis.com/css?family=Montserrat:400,700);

.post, about {
    max-width: 800px;
    margin: auto;
    padding: 60px 0;
}

.button {
    background-color: #3C1053FF; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
  }
